<div class="options-container">
    <!--<div class="input-group">
      <label for="skillsExperience">Skills and Experience:</label>
      <textarea id="skillsExperience" [(ngModel)]="skillsExperience" rows="10" placeholder="Add skills and experience here to be reused for every cover letter request."></textarea>
    </div>-->
    <div class="input-group">
      <label for="instructions">Cover letter instructions:</label>
      <textarea id="instructions" [(ngModel)]="instructions" rows="10" placeholder="We will use these instructions to create cover letters suited specifically to your needs."></textarea>
    </div>
    <div class="button-group">
      <button class="save-button" (click)="saveAll()">Save</button>
    </div>
  </div>
  